Assignment2/A2-LoanServiceClient/web/WEB-INF/wsdl/localhost_8080/A2-LoanService/LoanServiceMemberManagerImpl.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><xs:schema xmlns:tns="http://loanservice.a2/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://loanservice.a2/">

<xs:element name="LoanException" type="tns:LoanException"/>

<xs:element name="LoanServiceSOAPFault" type="tns:LoanServiceSOAPFault"/>

<xs:complexType name="LoanException">
<xs:sequence>
<xs:element name="loanErrorMessage" type="xs:string" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoanServiceSOAPFault">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="concurrentHashMap">
<xs:complexContent>
<xs:extension base="tns:abstractMap">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractMap" abstract="true">
<xs:sequence/>
</xs:complexType>
</xs:schema>