Assignment2/A2-Client/src/conf/xml-resources/web-service-references/LoanServiceLibraryManagerImpl/wsdl/localhost_8080/A2-LoanService/LoanServiceLibraryManagerImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://loanservice.a2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://loanservice.a2/" name="LoanServiceLibraryManagerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://loanservice.a2/" schemaLocation="http://localhost:8080/A2-LoanService/LoanServiceLibraryManagerImpl?xsd=1"/>
</xsd:schema>
</types>
<message name="displayCallNumberMap"/>
<message name="displayCallNumberMapResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="displayBooks"/>
<message name="displayBooksResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getBook">
<part name="arg0" type="xsd:int"/>
</message>
<message name="getBookResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="addBook">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
<part name="arg4" type="xsd:string"/>
<part name="arg5" type="xsd:string"/>
</message>
<message name="addBookResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="LoanServiceSOAPFault">
<part name="fault" element="tns:LoanServiceSOAPFault"/>
</message>
<message name="updateBook">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
<part name="arg4" type="xsd:string"/>
<part name="arg5" type="xsd:string"/>
<part name="arg6" type="xsd:string"/>
</message>
<message name="updateBookResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="removeBook">
<part name="arg0" type="xsd:int"/>
</message>
<message name="removeBookResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="LoanServiceLibraryManager">
<operation name="displayCallNumberMap">
<input wsam:Action="http://loanservice.a2/LoanServiceLibraryManager/displayCallNumberMapRequest" message="tns:displayCallNumberMap"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLibraryManager/displayCallNumberMapResponse" message="tns:displayCallNumberMapResponse"/>
</operation>
<operation name="displayBooks">
<input wsam:Action="http://loanservice.a2/LoanServiceLibraryManager/displayBooksRequest" message="tns:displayBooks"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLibraryManager/displayBooksResponse" message="tns:displayBooksResponse"/>
</operation>
<operation name="getBook">
<input wsam:Action="http://loanservice.a2/LoanServiceLibraryManager/getBookRequest" message="tns:getBook"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLibraryManager/getBookResponse" message="tns:getBookResponse"/>
</operation>
<operation name="addBook" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input wsam:Action="http://loanservice.a2/LoanServiceLibraryManager/addBookRequest" message="tns:addBook"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLibraryManager/addBookResponse" message="tns:addBookResponse"/>
<fault message="tns:LoanServiceSOAPFault" name="LoanServiceSOAPFault" wsam:Action="http://loanservice.a2/LoanServiceLibraryManager/addBook/Fault/LoanServiceSOAPFault"/>
</operation>
<operation name="updateBook" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://loanservice.a2/LoanServiceLibraryManager/updateBookRequest" message="tns:updateBook"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLibraryManager/updateBookResponse" message="tns:updateBookResponse"/>
<fault message="tns:LoanServiceSOAPFault" name="LoanServiceSOAPFault" wsam:Action="http://loanservice.a2/LoanServiceLibraryManager/updateBook/Fault/LoanServiceSOAPFault"/>
</operation>
<operation name="removeBook">
<input wsam:Action="http://loanservice.a2/LoanServiceLibraryManager/removeBookRequest" message="tns:removeBook"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLibraryManager/removeBookResponse" message="tns:removeBookResponse"/>
<fault message="tns:LoanServiceSOAPFault" name="LoanServiceSOAPFault" wsam:Action="http://loanservice.a2/LoanServiceLibraryManager/removeBook/Fault/LoanServiceSOAPFault"/>
</operation>
</portType>
<binding name="LoanServiceLibraryManagerImplPortBinding" type="tns:LoanServiceLibraryManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="displayCallNumberMap">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
</operation>
<operation name="displayBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
</operation>
<operation name="getBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
</operation>
<operation name="addBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
<fault name="LoanServiceSOAPFault">
<soap:fault name="LoanServiceSOAPFault" use="literal"/>
</fault>
</operation>
<operation name="updateBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
<fault name="LoanServiceSOAPFault">
<soap:fault name="LoanServiceSOAPFault" use="literal"/>
</fault>
</operation>
<operation name="removeBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
<fault name="LoanServiceSOAPFault">
<soap:fault name="LoanServiceSOAPFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="LoanServiceLibraryManagerImplService">
<port name="LoanServiceLibraryManagerImplPort" binding="tns:LoanServiceLibraryManagerImplPortBinding">
<soap:address location="http://localhost:8080/A2-LoanService/LoanServiceLibraryManagerImpl"/>
</port>
</service>
</definitions>