Assignment2/A2-LoanService/web/WEB-INF/wsdl/localhost_8080/A2-LoanService/LoanServiceLoanManagerImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://loanservice.a2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://loanservice.a2/" name="LoanServiceLoanManagerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://loanservice.a2/" schemaLocation="http://localhost:8080/A2-LoanService/LoanServiceLoanManagerImpl?xsd=1"/>
</xsd:schema>
</types>
<message name="listLoan">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listLoanResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="listLoan">
<part name="arg0" type="xsd:int"/>
</message>
<message name="listLoanResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="borrowBook">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:int"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
</message>
<message name="borrowBookResponse"/>
<message name="LoanException">
<part name="fault" element="tns:LoanException"/>
</message>
<message name="editBookLoan">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="tns:member"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
</message>
<message name="editBookLoanResponse"/>
<message name="returnBookLoan">
<part name="arg0" type="xsd:int"/>
</message>
<message name="returnBookLoanResponse"/>
<message name="deleteBookLoan">
<part name="arg0" type="xsd:int"/>
</message>
<message name="deleteBookLoanResponse"/>
<portType name="LoanServiceLoanManager">
<operation name="listLoan">
<input wsam:Action="http://loanservice.a2/LoanServiceLoanManager/listLoanRequest" message="tns:listLoan"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLoanManager/listLoanResponse" message="tns:listLoanResponse"/>
</operation>
<operation name="listLoan">
<input wsam:Action="http://loanservice.a2/LoanServiceLoanManager/listLoanRequest" message="tns:listLoan"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLoanManager/listLoanResponse" message="tns:listLoanResponse"/>
</operation>
<operation name="borrowBook" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://loanservice.a2/LoanServiceLoanManager/borrowBookRequest" message="tns:borrowBook"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLoanManager/borrowBookResponse" message="tns:borrowBookResponse"/>
<fault message="tns:LoanException" name="LoanException" wsam:Action="http://loanservice.a2/LoanServiceLoanManager/borrowBook/Fault/LoanException"/>
</operation>
<operation name="editBookLoan" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://loanservice.a2/LoanServiceLoanManager/editBookLoanRequest" message="tns:editBookLoan"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLoanManager/editBookLoanResponse" message="tns:editBookLoanResponse"/>
<fault message="tns:LoanException" name="LoanException" wsam:Action="http://loanservice.a2/LoanServiceLoanManager/editBookLoan/Fault/LoanException"/>
</operation>
<operation name="returnBookLoan">
<input wsam:Action="http://loanservice.a2/LoanServiceLoanManager/returnBookLoanRequest" message="tns:returnBookLoan"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLoanManager/returnBookLoanResponse" message="tns:returnBookLoanResponse"/>
<fault message="tns:LoanException" name="LoanException" wsam:Action="http://loanservice.a2/LoanServiceLoanManager/returnBookLoan/Fault/LoanException"/>
</operation>
<operation name="deleteBookLoan">
<input wsam:Action="http://loanservice.a2/LoanServiceLoanManager/deleteBookLoanRequest" message="tns:deleteBookLoan"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLoanManager/deleteBookLoanResponse" message="tns:deleteBookLoanResponse"/>
<fault message="tns:LoanException" name="LoanException" wsam:Action="http://loanservice.a2/LoanServiceLoanManager/deleteBookLoan/Fault/LoanException"/>
</operation>
</portType>
<binding name="LoanServiceLoanManagerImplPortBinding" type="tns:LoanServiceLoanManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="listLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
</operation>
<operation name="listLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
</operation>
<operation name="borrowBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
<fault name="LoanException">
<soap:fault name="LoanException" use="literal"/>
</fault>
</operation>
<operation name="editBookLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
<fault name="LoanException">
<soap:fault name="LoanException" use="literal"/>
</fault>
</operation>
<operation name="returnBookLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
<fault name="LoanException">
<soap:fault name="LoanException" use="literal"/>
</fault>
</operation>
<operation name="deleteBookLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
<fault name="LoanException">
<soap:fault name="LoanException" use="literal"/>
</fault>
</operation>
</binding>
<service name="LoanServiceLoanManagerImplService">
<port name="LoanServiceLoanManagerImplPort" binding="tns:LoanServiceLoanManagerImplPortBinding">
<soap:address location="http://localhost:8080/A2-LoanService/LoanServiceLoanManagerImpl"/>
</port>
</service>
</definitions>