Assignment2/A2-LoanServiceClient/src/conf/xml-resources/web-service-references/LoanServiceLoanManagerImpl1/wsdl/localhost_8080/A2-LoanService/LoanServiceLoanManagerImpl1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://loanservice.a2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://loanservice.a2/" name="LoanServiceLoanManagerImpl1Service">
<types>
<xsd:schema>
<xsd:import namespace="http://loanservice.a2/" schemaLocation="http://localhost:8080/A2-LoanService/LoanServiceLoanManagerImpl1?xsd=1"/>
</xsd:schema>
</types>
<message name="listLoanID">
<part name="arg0" type="xsd:int"/>
</message>
<message name="listLoanIDResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="LoanServiceSOAPFault">
<part name="fault" element="tns:LoanServiceSOAPFault"/>
</message>
<message name="borrowBook">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:int"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
</message>
<message name="borrowBookResponse"/>
<message name="editBookLoan">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
</message>
<message name="editBookLoanResponse"/>
<message name="returnBookLoan">
<part name="arg0" type="xsd:int"/>
</message>
<message name="returnBookLoanResponse"/>
<message name="listLoan">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listLoanResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="deleteBookLoan">
<part name="arg0" type="xsd:int"/>
</message>
<message name="deleteBookLoanResponse"/>
<portType name="LoanServiceLoanManager1">
<operation name="listLoanID">
<input wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/listLoanIDRequest" message="tns:listLoanID"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/listLoanIDResponse" message="tns:listLoanIDResponse"/>
<fault message="tns:LoanServiceSOAPFault" name="LoanServiceSOAPFault" wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/listLoanID/Fault/LoanServiceSOAPFault"/>
</operation>
<operation name="borrowBook" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/borrowBookRequest" message="tns:borrowBook"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/borrowBookResponse" message="tns:borrowBookResponse"/>
<fault message="tns:LoanServiceSOAPFault" name="LoanServiceSOAPFault" wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/borrowBook/Fault/LoanServiceSOAPFault"/>
</operation>
<operation name="editBookLoan" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/editBookLoanRequest" message="tns:editBookLoan"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/editBookLoanResponse" message="tns:editBookLoanResponse"/>
<fault message="tns:LoanServiceSOAPFault" name="LoanServiceSOAPFault" wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/editBookLoan/Fault/LoanServiceSOAPFault"/>
</operation>
<operation name="returnBookLoan">
<input wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/returnBookLoanRequest" message="tns:returnBookLoan"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/returnBookLoanResponse" message="tns:returnBookLoanResponse"/>
<fault message="tns:LoanServiceSOAPFault" name="LoanServiceSOAPFault" wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/returnBookLoan/Fault/LoanServiceSOAPFault"/>
</operation>
<operation name="listLoan">
<input wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/listLoanRequest" message="tns:listLoan"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/listLoanResponse" message="tns:listLoanResponse"/>
<fault message="tns:LoanServiceSOAPFault" name="LoanServiceSOAPFault" wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/listLoan/Fault/LoanServiceSOAPFault"/>
</operation>
<operation name="deleteBookLoan">
<input wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/deleteBookLoanRequest" message="tns:deleteBookLoan"/>
<output wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/deleteBookLoanResponse" message="tns:deleteBookLoanResponse"/>
<fault message="tns:LoanServiceSOAPFault" name="LoanServiceSOAPFault" wsam:Action="http://loanservice.a2/LoanServiceLoanManager1/deleteBookLoan/Fault/LoanServiceSOAPFault"/>
</operation>
</portType>
<binding name="LoanServiceLoanManagerImpl1PortBinding" type="tns:LoanServiceLoanManager1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="listLoanID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
<fault name="LoanServiceSOAPFault">
<soap:fault name="LoanServiceSOAPFault" use="literal"/>
</fault>
</operation>
<operation name="borrowBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
<fault name="LoanServiceSOAPFault">
<soap:fault name="LoanServiceSOAPFault" use="literal"/>
</fault>
</operation>
<operation name="editBookLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
<fault name="LoanServiceSOAPFault">
<soap:fault name="LoanServiceSOAPFault" use="literal"/>
</fault>
</operation>
<operation name="returnBookLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
<fault name="LoanServiceSOAPFault">
<soap:fault name="LoanServiceSOAPFault" use="literal"/>
</fault>
</operation>
<operation name="listLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
<fault name="LoanServiceSOAPFault">
<soap:fault name="LoanServiceSOAPFault" use="literal"/>
</fault>
</operation>
<operation name="deleteBookLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
<fault name="LoanServiceSOAPFault">
<soap:fault name="LoanServiceSOAPFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="LoanServiceLoanManagerImpl1Service">
<port name="LoanServiceLoanManagerImpl1Port" binding="tns:LoanServiceLoanManagerImpl1PortBinding">
<soap:address location="http://localhost:8080/A2-LoanService/LoanServiceLoanManagerImpl1"/>
</port>
</service>
</definitions>