Assignment2/A2-Client/src/conf/xml-resources/web-service-references/LoanServiceMemberManagerImpl/wsdl/localhost_8080/A2-LoanService/LoanServiceMemberManagerImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://loanservice.a2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://loanservice.a2/" name="LoanServiceMemberManagerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://loanservice.a2/" schemaLocation="http://localhost:8080/A2-LoanService/LoanServiceMemberManagerImpl?xsd=1"/>
</xsd:schema>
</types>
<message name="getMembers"/>
<message name="getMembersResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="updateMember">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
</message>
<message name="updateMemberResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="LoanServiceSOAPFault">
<part name="fault" element="tns:LoanServiceSOAPFault"/>
</message>
<message name="getMemberInfo">
<part name="arg0" type="xsd:int"/>
</message>
<message name="getMemberInfoResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="deleteMember">
<part name="arg0" type="xsd:int"/>
</message>
<message name="deleteMemberResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="addMember">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="addMemberResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="LoanServiceMemberManager">
<operation name="getMembers">
<input wsam:Action="http://loanservice.a2/LoanServiceMemberManager/getMembersRequest" message="tns:getMembers"/>
<output wsam:Action="http://loanservice.a2/LoanServiceMemberManager/getMembersResponse" message="tns:getMembersResponse"/>
</operation>
<operation name="updateMember" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://loanservice.a2/LoanServiceMemberManager/updateMemberRequest" message="tns:updateMember"/>
<output wsam:Action="http://loanservice.a2/LoanServiceMemberManager/updateMemberResponse" message="tns:updateMemberResponse"/>
<fault message="tns:LoanServiceSOAPFault" name="LoanServiceSOAPFault" wsam:Action="http://loanservice.a2/LoanServiceMemberManager/updateMember/Fault/LoanServiceSOAPFault"/>
</operation>
<operation name="getMemberInfo">
<input wsam:Action="http://loanservice.a2/LoanServiceMemberManager/getMemberInfoRequest" message="tns:getMemberInfo"/>
<output wsam:Action="http://loanservice.a2/LoanServiceMemberManager/getMemberInfoResponse" message="tns:getMemberInfoResponse"/>
</operation>
<operation name="deleteMember">
<input wsam:Action="http://loanservice.a2/LoanServiceMemberManager/deleteMemberRequest" message="tns:deleteMember"/>
<output wsam:Action="http://loanservice.a2/LoanServiceMemberManager/deleteMemberResponse" message="tns:deleteMemberResponse"/>
<fault message="tns:LoanServiceSOAPFault" name="LoanServiceSOAPFault" wsam:Action="http://loanservice.a2/LoanServiceMemberManager/deleteMember/Fault/LoanServiceSOAPFault"/>
</operation>
<operation name="addMember" parameterOrder="arg0 arg1">
<input wsam:Action="http://loanservice.a2/LoanServiceMemberManager/addMemberRequest" message="tns:addMember"/>
<output wsam:Action="http://loanservice.a2/LoanServiceMemberManager/addMemberResponse" message="tns:addMemberResponse"/>
<fault message="tns:LoanServiceSOAPFault" name="LoanServiceSOAPFault" wsam:Action="http://loanservice.a2/LoanServiceMemberManager/addMember/Fault/LoanServiceSOAPFault"/>
</operation>
</portType>
<binding name="LoanServiceMemberManagerImplPortBinding" type="tns:LoanServiceMemberManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getMembers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
</operation>
<operation name="updateMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
<fault name="LoanServiceSOAPFault">
<soap:fault name="LoanServiceSOAPFault" use="literal"/>
</fault>
</operation>
<operation name="getMemberInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
</operation>
<operation name="deleteMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
<fault name="LoanServiceSOAPFault">
<soap:fault name="LoanServiceSOAPFault" use="literal"/>
</fault>
</operation>
<operation name="addMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</input>
<output>
<soap:body use="literal" namespace="http://loanservice.a2/"/>
</output>
<fault name="LoanServiceSOAPFault">
<soap:fault name="LoanServiceSOAPFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="LoanServiceMemberManagerImplService">
<port name="LoanServiceMemberManagerImplPort" binding="tns:LoanServiceMemberManagerImplPortBinding">
<soap:address location="http://localhost:8080/A2-LoanService/LoanServiceMemberManagerImpl"/>
</port>
</service>
</definitions>